git_automation_output.txt

# Exclude git_automation.py and VSCode settings
scripts/git_automation.py
.vscode/settings.json

venv/

# Ignore sensitive/private folders
endoai/data/
endoai/models/
endoai/notebooks/
endoai/pipelines/

# Ignore all data (including raw and public)
data/*
endoai/data/*

# Ignore output folder
output/

# Ignore wandb logs and runs
wandb/*

# Ignore model weights and large files in models/
endoai/models/*.pth
endoai/models/*.pt
endoai/models/*.h5
endoai/models/*.ckpt
endoai/models/*.onnx
endoai/models/checkpoints/
endoai/models/weights/
