# Development requirements for ENDOAI

# Linting and formatting tools
black==23.3.0
flake8==6.0.0
pylint==2.17.0

# Testing frameworks
pytest==7.3.1
pytest-cov==4.0.0
unittest-xml-reporting==3.2.0

# Documentation tools
sphinx==7.0.0
sphinx-rtd-theme==1.2.0

# Additional utilities
pre-commit==3.3.0
mypy==1.3.0
isort==5.12.0
